@media screen and (-webkit-min-device-pixel-ratio: 0) {
    selector {
    property: value;
    }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    font-family: "Nunito";
}
/* start of the divine fury poster*/
/* .postercont {
    width: 726px;
    height: 1074px;
    margin: 20px auto auto auto;
    background-image: url("../image/posterimages/poster.jpg");
    background-repeat: no-repeat;
}

.posterbody {
    background-image: url("../image/posterimages/background.png");
    background-attachment: fixed;
    background-size: cover;   
}

.postercont a {
    opacity: 0;
    float: inline-end;
}

.postercont a:hover {
    opacity: 1;
} */

/* end of the divine fury poster*/

@font-face {
    font-family: 'Quicksand';
    src: url(../font/Quicksand-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Nunito';
    src: url(../font/Nunito-VariableFont_wght.ttf);
}
:root {
    --white: #F8F6F3;
    --greenD: #265F2B;
    --greenL: #B7C6BC;
    --red: #9E2141;
    --pink: #FFC2D1;
    --black: #303030;
}

.nav-style {
    width: auto;
    height: auto;
    background-color: var(--white);
}
.nav a {
    color: var(--red);
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: medium;
}
.nav a:hover {
    color: var(--pink);
}
.active {
    background-color: var(--pink);
    color: var(--white);
    border-radius: 0.375rem;
}
.nav .active:hover {
    color: var(--white);
}
header {
    height: auto;
}
.section-style {
    background-color: var(--white);
    height: fit-content;
}
.section-style2 {
    background-color: var(--pink);
    height: fit-content;
}

h1, h2, h3, h4, h5 {
    color: var(--red);
    font-family: 'Quicksand';
}
h1 {
    width: 50%;
}
header p {
    font-family: 'Nunito';
    color: var(--black);
    padding-left: 20%;
    padding-right: 20%;
}
.section-style a, 
.section-style2 a {
    background-color: var(--red);
    color: var(--white);
}
.section-style a:hover , 
.section-style2 a:hover {
    background-color: #edcb32;
    color: var(--white);
    /* background-color: var(--red); */
}

.coffeetale-style {
    background-color: #EEDFDA;
    height: 500px;
}
.coffeetale-style2 {
    background-color: #EEDFDA;
    height: auto;
}
.coffeetale-nav{
    background-color: #EEDFDA;
}
.coffeetale-nav a {
    color: #58423A;
}
.coffeetale-nav a:hover {
    color: #43AA95;
}
#coffeelogo {
    width: 40%;
}
#case {
    width: 80%;
}
.moon-style {
    background-color: #325172;
    height: 500px;
}
.moon-style2 {
    background-color: #FFFDF8;
}
.moon-nav {
    background-color: #325172;
}
.moon-nav a {
    color: #FFFDF8;
}
#case2 {
    width: 70%;
}
.dropdown-btn {
    display: none;
}
footer {
    background-color: var(--black);
}
footer p {
    color: var(--pink);
    font-family: 'Nunito';
}
.fab {
    color: var(--pink);
    font-size: 2rem;
}

.teas-style h2{
    color: #fecc00;
}
.teas-style2 h2, .teas-style2 h5 {
    color: #fecc00;
}
.teas-style {
    background-color: #a2b8bf;
    height: auto;
}
.teas-style2 {
    background-color: #f2efee;
}
.teas-nav {
    background-color: #a2b8bf;
}
.teas-nav a {
    color: #fecc00;
}
.teas-nav a:hover {
    color: #f2efee;
}
#teaslogo, #sandwichlogo {
    width: 30%;
}
/* .parag {
    padding-left: 2%;
    padding-right: 2%;
} */
.teas-style a {
    background-color: #fecc00;
    color: #f2efee;
}
.teas-style a:hover {
    background-color: #f2efee;
    color: #fecc00;
}
.emerald-nav {
    background-color: #D6D1CA;
}
.emerald-nav a {
    color: #323E48;
}
.emerald-nav a:hover {
    color: #4B858E;
}
.emerald-style {
    background-color: #D6D1CA;
}
.emerald-style2 {
    background-color: #D6D1CA;
    height: 500px;
}
.emerald-style a {
    background-color: #4B858E;
    color: #D6D1CA;
}
.emerald-style a:hover {
    background-color: #323E48;
    color: #D6D1CA;
}
.emerald-style h2, .emerald-style h5 {
    color: #323E48;
}

.sandwich-nav {
    background-color: #f4f5f0;
}
.sandwich-nav a {
    color: #3049D9;
}
.sandwich-nav a:hover {
    color: #3787f8;
}
.sandwich-style {
    background-color: #f4f5f0;
}
.sandwich-style a {
    background-color: #3787f8;
    color: #f4f5f0;
}
.sandwich-style a:hover {
    background-color: #3049D9;
    color: #f4f5f0;
}
.sandwich-style h2, .sandwich-style h5 {
    color: #3049D9;
}

.ps5-nav {
    background-color: #ffffff;
}
.ps5-nav a {
    color: #00439C;
}
.ps5-nav a:hover {
    color: #0070CC;
}
#ps5logo, #emeraldlogo {
    width: 30%;
}
.ps5-style {
    background-color: #ffffff;
}
.ps5-style2 {
    background-color: #ffffff;
    height: 500px;
}
.ps5-style h2, .ps5-style h5{
    color: #000000;
}
#poster {
    width: 50%;
}

@media screen and (max-width: 575.98px) {

    .nav { display: none; }

    h1 {
        width: 90%;
    }
    header p {
        font-family: 'Nunito';
        color: var(--black);
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }


    .dropdown {
        max-width: 9em;
        position: relative;
        width: 100%;
    }
    .dropdown-btn {
        background: var(--pink);
        font-size: 18px;
        width: 100%;
        border: none;
        color: var(--red);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 0.5em;
        border-radius: 0.5em;
        cursor: pointer;
    }
    .arrow1 {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid var(--red);
        transition: transform ease-in-out 0.3s;
    }
    .dropdown-content {
        list-style: none;
        position: absolute;
        top: 3.2em;
        width: 100%;
        visibility: hidden;
        overflow: hidden;
        z-index: 1;
    }
    .dropdown-content li {
        background: var(--pink);
        border-radius: 0.5em;
        position: relative;
        left: 100%;
        transition: 0.5s;
        transition-delay: calc(60ms * var(--delay));
        font-family: 'Quicksand';
        margin-top: 2px;
        width: 6rem;
    }
    .dropdown-content.menu-open li {
        left: 0;
    }
    .dropdown-content.menu-open {
        visibility: visible;
    }
    .arrow1.arrow-rotate {
        transform: rotate(180deg);
    }
    
    .dropdown-content li:hover {
        color: var(--greenD);
    }
    
    .dropdown-content li a {
        display: block;
        padding: 0.7em 0.5em;
        color: var(--white);
        margin: 0.1em 0;
        text-decoration: none;
    }

    #coffeelogo, #ps5logo, #emeraldlogo  {
        width: 100%;
        padding-top: 5rem;
    }
    #teaslogo, #sandwichlogo {
        width: 50%;
        padding-top: 3rem;
    }
    #case2 {
        width: 80%;
    }

    iframe {
        max-width: 100%;
        max-height: 100%;
    }

    #poster {
        width: 100%;
    }
    
    /* .postercont {
        visibility: hidden;
    }
    
    .posterbody {
        visibility: hidden;
    }
    .posterbody audio {
        visibility: hidden;
    } */
    
}

@media screen and (max-width: 991.98px) {

    .nav { display: none; }
    
    

    h1 {
        width: 70%;
    }
    header p {
        font-family: 'Nunito';
        color: var(--black);
        padding-left: 10%;
        padding-right: 10%;
    }

    
    .dropdown {
        max-width: 6rem;
        position: relative;
        width: 100%;
        float: inline-end;
    }
    .dropdown-btn {
        background: var(--pink);
        font-size: 18px;
        width: 100%;
        border: none;
        color: var(--red);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 0.5em;
        border-radius: 0.5em;
        cursor: pointer;
    }
    .arrow1 {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid var(--red);
        transition: transform ease-in-out 0.3s;
    }
    .dropdown-content {
        list-style: none;
        position: absolute;
        top: 3.2em;
        width: 100%;
        visibility: hidden;
        overflow: hidden;
        z-index: 1;
    }
    .dropdown-content li {
        background: var(--pink);
        border-radius: 0.5em;
        position: relative;
        left: 100%;
        transition: 0.5s;
        transition-delay: calc(60ms * var(--delay));
        font-family: Quicksand;
        margin-top: 2px;
        width: 6rem;
    }
    .dropdown-content.menu-open li {
        left: 0;
    }
    .dropdown-content.menu-open {
        visibility: visible;
    }
    .arrow1.arrow-rotate {
        transform: rotate(180deg);
    }
    
    .dropdown-content li:hover {
        color: var(--red);
    }
    
    .dropdown-content li a {
        display: block;
        padding: 0.7em 0.5em;
        color: var(--white);
        margin: 0.1em 0;
        text-decoration: none;
    }

    #coffeelogo, #ps5logo, #emeraldlogo, #teaslogo, #sandwichlogo {
        width: 70%;
        padding-top: 3rem;
    }
}

}