@media screen and (-webkit-min-device-pixel-ratio: 0) {
    selector {
    property: value;
    }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    font-family: "Nunito";
}

/* start of the divine fury poster*/
/* .postercont {
    width: 726px;
    height: 1074px;
    margin: 20px auto auto auto;
    background-image: url("../image/posterimages/poster.jpg");
    background-repeat: no-repeat;
}

.posterbody {
    background-image: url("../image/posterimages/background.png");
    background-attachment: fixed;
    background-size: cover;   
}

.postercont a {
    opacity: 0;
    float: inline-end;
}

.postercont a:hover {
    opacity: 1;
} */

/* end of the divine fury poster*/

@font-face {
    font-family: 'Italiana';
    src: url(../font/Italiana/Italiana-Regular.ttf);
}
@font-face {
    font-family: 'Quicksand';
    src: url(../font/Quicksand-VariableFont_wght.ttf);
}
:root {
    --white: #F8F6F3;
    --greenD: #89B6A5;
    --greenL: #C9EDDC;
    --red: #9E2141;
    --purple: #9792E3;
    --yellow: #f0a202;
    --black: #303030;
}

.invisible {
    display: none;
}

.nav-style {
    width: 100%;
    height: 100px;
    background-color: var(--white);
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1;
}
.nav a {
    color: var(--black);
    font-family: 'Italiana';
    font-weight: bolder;
    font-size: large;
    margin-top: -30px;
}
.nav a:hover {
    color: var(--purple);
}
.active {
    background-color: var(--yellow);
    color: var(--purple);
    border-radius: 0.375rem;
}
.nav .active:hover {
    color: var(--white);
}
.header-style {
    height: fit-content;
    background-color: var(--white);
}
.header-hero{
    width: 90%;
}

.section-style {
    background-color: var(--white);
    height: fit-content;
}
.section-style2 {
    background-color: var(--white);
    height: fit-content;
}

h1, h2, h3, h4, h5 {
    color: var(--red);
    font-family: 'Italiana';
}
.headerh1 {
    width: 50%;
    margin-top: 15%;
    margin-bottom: 15%;
}
header p {
    font-family: 'Quicksand';
    color: var(--black);
    padding-left: 20%;
    padding-right: 20%;
}
.section-style a, 
.section-style2 a {
    background-color: var(--red);
    color: var(--white);
}
.section-style a:hover , 
.section-style2 a:hover {
    background-color: var(--purple);
    color: var(--white);
    /* background-color: var(--red); */
}
#about p {
    width: 600px;
    font-size: 25px;
}
.section-stylec {
    background-color: var(--white);
    height: 2030px;
}
#visible {
    height: 100%;
    overflow-x: hidden;
}
.solte-style {
    background-color: #7a1f3d;
    height: 500px;
}
.solte-style2 {
    background-color: var(--white);
    height: auto;
}
.solte-nav{
    background-color: var(--white);
}
.solte-nav a{
    color: var(--black);
}
.solte-nav a:hover{
    color: var(--purple);
}
#soltelogo{
    width: 30%;
    margin-top: 15%;
}
.coffeetale-style {
    background-color: #EEDFDA;
    height: 500px;
}
.coffeetale-style2 {
    background-color: var(--white);
    height: auto;
}
.coffeetale-nav{
    background-color: var(--white);
}
.coffeetale-nav a {
    color: var(--black);
}
.coffeetale-nav a:hover {
    color: var(--purple);
}
#coffeelogo {
    width: 40%;
    margin-top: 15%;
}
#case {
    width: 80%;
}
.moon-style {
    background-color: #325172;
    height: 500px;
}
.moon-style2 {
    background-color: var(--white);
}
.moon-nav {
    background-color: var(--white);
}
.moon-nav a {
    color: var(--black);
}
.moon-nav a:hover {
    color: var(--purple);
}
#moonlogo {
    width: 40%;
    margin-top: 15%;
}
#case2 {
    width: 70%;
}
.dropdown-btn {
    display: none;
}
footer {
    background-color: var(--greenD);
}
footer p {
    color: var(--black);
    font-family: 'Quicksand';
}
.fab {
    color: var(--red);
    font-size: 2rem;
}
.fab:hover {
    color: var(--yellow);
    font-size: 2rem;
}
.teas-style h2{
    color: #fecc00;
}
.teas-style2 h2, .teas-style2 h5 {
    color: #fecc00;
}
.teas-style {
    background-color: #a2b8bf;
    height: auto;
}
.teas-style2 {
    background-color: var(--white);
}
.teas-nav {
    background-color: var(--white);
}
.teas-nav a {
    color: var(--black);
}
.teas-nav a:hover {
    color: var(--purple);
}
#teaslogo, #sandwichlogo {
    width: 30%;
    margin-top: 10%;
}
/* .parag {
    padding-left: 2%;
    padding-right: 2%;
} */
.teas-style2 a {
    background-color: #fecc00;
    color: #f2efee;
}
.teas-style2 a:hover {
    background-color: #f2efee;
    color: #fecc00;
}
.emerald-nav {
    background-color: var(--white);
}
.emerald-nav a {
    color: var(--black);
}
.emerald-nav a:hover {
    color: var(--purple);
}
.emerald-style {
    background-color: var(--white);
}
.emerald-style2 {
    background-color: #D6D1CA;
    height: 500px;
}
.emerald-style a {
    background-color: #4B858E;
    color: #D6D1CA;
}
.emerald-style a:hover {
    background-color: #323E48;
    color: #D6D1CA;
}
.emerald-style h2, .emerald-style h5 {
    color: #323E48;
}
#emeraldlogo{
    width: 30%;
    margin-top: 15%;
}

.sandwich-nav {
    background-color: var(--white);
}
.sandwich-nav a {
    color: var(--black);
}
.sandwich-nav a:hover {
    color: var(--purple);
}
.sandwich-style2 {
    background-color: #f4f5f0;
    width: auto;
}
.sandwich-style {
    background-color: var(--white);
}
.sandwich-style a {
    background-color: #3787f8;
    color: #f4f5f0;
}
.sandwich-style a:hover {
    background-color: #3049D9;
    color: #f4f5f0;
}
.sandwich-style h2, .sandwich-style h5 {
    color: #3049D9;
}

.ps5-nav {
    background-color: var(--white);
}
.ps5-nav a {
    color: var(--black);
}
.ps5-nav a:hover {
    color: var(--purple);
}
#ps5logo {
    width: 30%;
    margin-top: 15%;
}
.ps5-style {
    background-color: var(--white);
}
.ps5-style2 {
    background-color: #ffffff;
    height: 500px;
}
.ps5-style h2, .ps5-style h5{
    color: #000000;
}
#posterps5 {
    width: 80%;
}
#poster {
    width: 50%;
}
.matchgame-style {
    background-color: #eebc8a;
    height: 500px;
}
.matchgame-style2 {
    background-color: var(--white);
    height: auto;
}
.matchgame-nav{
    background-color: var(--white);
}
.matchgame-nav a {
    color: var(--black);
}
.matchgame-nav a:hover {
    color: var(--purple);
}
.matchgame-style h2, .matchgame-style2 h2 {
    color: #9E005D;
}
#matchgamelogo {
    width: 45%;
    margin-top: 6%;
}
.matchgame-style a {
    background-color: #9E005D;
    color: #fff;
}
.matchgame-style a:hover {
    background-color: #2D967D;
    color: #fff;
}

@media screen and (max-width: 575.98px) {

    .nav { display: none; }

    h1 {
        width: 90%;
    }
    header p {
        font-family: 'Italiana';
        color: var(--black);
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .header-hero{
        width: 155%;
        margin-top: 20%;
        margin-left: -26%;
    }

    .dropdown {
        max-width: 9em;
        position: relative;
        width: 100%;
    }
    .dropdown-btn {
        background: var(--white);
        font-size: 18px;
        width: 100%;
        border: none;
        color: var(--black);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 0.5em;
        border-radius: 0.5em;
        cursor: pointer;
        margin-top: -20%;
    }
    .arrow1 {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid var(--black);
        transition: transform ease-in-out 0.3s;
    }
    .dropdown-content {
        list-style: none;
        position: absolute;
        top: 3.2em;
        width: 100%;
        visibility: hidden;
        overflow: hidden;
        z-index: 1;
    }
    .dropdown-content li {
        background: var(--black);
        border-radius: 0.5em;
        position: relative;
        left: 100%;
        transition: 0.5s;
        transition-delay: calc(60ms * var(--delay));
        font-family: 'Italiana';
        margin-top: 2px;
        width: 6rem;
    }
    .dropdown-content.menu-open li {
        left: 0;
    }
    .dropdown-content.menu-open {
        visibility: visible;
    }
    .arrow1.arrow-rotate {
        transform: rotate(180deg);
    }
    
    .dropdown-content li:hover {
        color: var(--purple);
    }
    
    .dropdown-content li a {
        display: block;
        padding: 0.7em 0.5em;
        color: var(--black);
        margin: 0.1em 0;
        text-decoration: none;
    }

    #about h2 {
        font-size: 22px;
    }
    
    #about p {
        width: 100%;
        height: auto;
    }

    #work h2 {
        font-size: 22px;
    }

    #coffeelogo, #ps5logo, #emeraldlogo  {
        width: 100%;
        padding-top: 5rem;
    }
    #teaslogo, #sandwichlogo {
        width: 50%;
        padding-top: 3rem;
    }
    #case2 {
        width: 80%;
    }

    iframe {
        max-width: 100%;
        max-height: 100%;
    }

    #poster {
        width: 100%;
    }
    
    /* .postercont {
        visibility: hidden;
    }
    
    .posterbody {
        visibility: hidden;
    }
    .posterbody audio {
        visibility: hidden;
    } */
    
}

@media screen and (max-width: 991.98px) {

    .nav { display: none; }
    
    h1 {
        width: 70%;
    }
    header p {
        font-family: 'Italiana';
        color: var(--black);
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .dropdown {
        max-width: 6rem;
        position: relative;
        width: 100%;
        float: inline-end;
    }
    .dropdown-btn {
        background: var(--white);
        font-size: 18px;
        width: 100%;
        border: none;
        color: var(--black);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 0.5em;
        border-radius: 0.5em;
        cursor: pointer;
        margin-top: -20%;
    }
    .arrow1 {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid var(--black);
        transition: transform ease-in-out 0.3s;
    }
    .dropdown-content {
        list-style: none;
        position: absolute;
        top: 3.2em;
        width: 100%;
        visibility: hidden;
        overflow: hidden;
        z-index: 1;
    }
    .dropdown-content li {
        background: var(--white);
        border-radius: 0.5em;
        position: relative;
        left: 100%;
        transition: 0.5s;
        transition-delay: calc(60ms * var(--delay));
        font-family: 'Italiana';
        margin-top: 2px;
        width: 6rem;
    }
    .dropdown-content.menu-open li {
        left: 0;
    }
    .dropdown-content.menu-open {
        visibility: visible;
    }
    .arrow1.arrow-rotate {
        transform: rotate(180deg);
    }
    
    .dropdown-content li:hover {
        color: var(--purple);
    }
    
    .dropdown-content li a {
        display: block;
        padding: 0.7em 0.5em;
        color: var(--black);
        margin: 0.1em 0;
        text-decoration: none;
    }

    #about h2 {
        font-size: 22px;
    }
    
    #about p {
        width: 100%;
        height: auto;
        font-size: 20px;
    }

    #work h2 {
        font-size: 22px;
    }
    
    #coffeelogo, #ps5logo, #emeraldlogo, #teaslogo, #sandwichlogo {
        width: 70%;
        padding-top: 3rem;
    }
}

}