@media screen and (-webkit-min-device-pixel-ratio: 0) {
    selector {
    property: value;
    }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    font-family: "Nunito";
}
@font-face {
    font-family: 'Quicksand';
    src: url(../font/Quicksand-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Nunito';
    src: url(../font/Nunito-VariableFont_wght.ttf);
}
:root {
    --white: #F8F6F3;
    --greenD: #265F2B;
    --greenL: #B7C6BC;
    --red: #9E2141;
    --pink: #FFC2D1;
    --black: #303030;
}

.nav-style {
    width: auto;
    height: auto;
    background-color: var(--white);
}
.nav a {
    color: var(--greenD);
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: medium;
}
.nav a:hover {
    color: var(--greenL);
}
.active {
    background-color: var(--greenL);
    color: var(--white);
    border-radius: 0.375rem;
}
.nav .active:hover {
    color: var(--white);
}
header {
    height: auto;
}
.section-style {
    background-color: var(--white);
    height: fit-content;
}
.section-style2 {
    background-color: var(--greenL);
    height: fit-content;
}

h1, h2, h3, h4, h5 {
    color: var(--greenD);
    font-family: 'Quicksand';
}
h1 {
    width: 50%;
}
header p {
    font-family: 'Nunito';
    color: var(--black);
    padding-left: 20%;
    padding-right: 20%;
}
.section-style a, 
.section-style2 a {
    background-color: var(--greenD);
    color: var(--white);
}
.section-style a:hover , 
.section-style2 a:hover {
    background-color: #edcb32;
    color: var(--white);
    /* background-color: var(--red); */
}
.coffeetale-style {
    background-color: #EEDFDA;
    height: 500px;
}
.coffeetale-style2 {
    background-color: #EEDFDA;
    height: auto;
}
.coffeetale-nav{
    background-color: #EEDFDA;
}
.coffeetale-nav a {
    color: #58423A;
}
.coffeetale-nav a:hover {
    color: #43AA95;
}
#coffeelogo {
    width: 40%;
}
#case {
    width: 80%;
}
.moon-style {
    background-color: #325172;
    height: 500px;
}
.moon-style2 {
    background-color: #FFFDF8;
}
.moon-nav {
    background-color: #325172;
}
.moon-nav a {
    color: #FFFDF8;
}
#case2 {
    width: 70%;
}
.dropdown-btn {
    display: none;
}
footer {
    background-color: var(--black);
}
footer p {
    color: var(--greenL);
    font-family: 'Nunito';
}
.fab {
    color: var(--greenL);
    font-size: 2rem;
}
@media screen and (max-width: 575.98px) {

    .nav { display: none; }

    h1 {
        width: 90%;
    }
    header p {
        font-family: 'Nunito';
        color: var(--black);
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }


    .dropdown {
        max-width: 9em;
        position: relative;
        width: 100%;
    }
    .dropdown-btn {
        background: var(--greenL);
        font-size: 18px;
        width: 100%;
        border: none;
        color: var(--greenD);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 0.5em;
        border-radius: 0.5em;
        cursor: pointer;
    }
    .arrow1 {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid var(--greenD);
        transition: transform ease-in-out 0.3s;
    }
    .dropdown-content {
        list-style: none;
        position: absolute;
        top: 3.2em;
        width: 100%;
        visibility: hidden;
        overflow: hidden;
        z-index: 1;
    }
    .dropdown-content li {
        background: var(--greenL);
        border-radius: 0.5em;
        position: relative;
        left: 100%;
        transition: 0.5s;
        transition-delay: calc(60ms * var(--delay));
        font-family: 'Quicksand';
        margin-top: 2px;
        width: 6rem;
    }
    .dropdown-content.menu-open li {
        left: 0;
    }
    .dropdown-content.menu-open {
        visibility: visible;
    }
    .arrow1.arrow-rotate {
        transform: rotate(180deg);
    }
    
    .dropdown-content li:hover {
        color: var(--greenD);
    }
    
    .dropdown-content li a {
        display: block;
        padding: 0.7em 0.5em;
        color: var(--white);
        margin: 0.1em 0;
        text-decoration: none;
    }

    #coffeelogo {
        width: 100%;
        padding-top: 5rem;
    }

    #case2 {
        width: 80%;
    }

}

@media screen and (max-width: 991.98px) {

    .nav { display: none; }
    
    

    h1 {
        width: 70%;
    }
    header p {
        font-family: 'Nunito';
        color: var(--black);
        padding-left: 10%;
        padding-right: 10%;
    }

    
    .dropdown {
        max-width: 6rem;
        position: relative;
        width: 100%;
        float: inline-end;
    }
    .dropdown-btn {
        background: var(--greenL);
        font-size: 18px;
        width: 100%;
        border: none;
        color: var(--greenD);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 0.5em;
        border-radius: 0.5em;
        cursor: pointer;
    }
    .arrow1 {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid var(--greenD);
        transition: transform ease-in-out 0.3s;
    }
    .dropdown-content {
        list-style: none;
        position: absolute;
        top: 3.2em;
        width: 100%;
        visibility: hidden;
        overflow: hidden;
        z-index: 1;
    }
    .dropdown-content li {
        background: var(--greenL);
        border-radius: 0.5em;
        position: relative;
        left: 100%;
        transition: 0.5s;
        transition-delay: calc(60ms * var(--delay));
        font-family: Quicksand;
        margin-top: 2px;
        width: 6rem;
    }
    .dropdown-content.menu-open li {
        left: 0;
    }
    .dropdown-content.menu-open {
        visibility: visible;
    }
    .arrow1.arrow-rotate {
        transform: rotate(180deg);
    }
    
    .dropdown-content li:hover {
        color: var(--greenD);
    }
    
    .dropdown-content li a {
        display: block;
        padding: 0.7em 0.5em;
        color: var(--white);
        margin: 0.1em 0;
        text-decoration: none;
    }

    #coffeelogo {
        width: 70%;
        padding-top: 3rem;
    }
}
}